* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:"Roboto", sans-serif;
    font-size: 13px;
}

header{
    display: flex;
    align-items: center;
    height: 60px;
}

.logo{
    height: 20px;
}

.navbar-left{
    width: 50%;
}

.navbar-right{
    width: 50%;
}

.header-links{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 15px;
}

/* to put the some linksof the header on the left side */
.right{ 
    display: flex;
    justify-content: flex-end;
}

.link{
    text-decoration: none;
    color: grey;
    margin-left: 25px;
}

.link:hover{
    text-decoration: underline;
}

#start-button{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    padding: 8px;
    background-color: rgb(2, 109, 222);
}

/* from here, most of the style is refered to the first section of the page */
.section-1{
    background-color: #b4d0e7;
    height: 500px;
    display: flex;
    justify-content: center;
}

.container-1{
    margin-top: 50px;
    max-width: 900px;
}

.title{
    font-size: 2.2rem;
    width: 750px;
}

.intro{
    width: 900px;
    margin-top: 30px;
    display: flex;
}

.description{
    width: 30%;
    flex-grow: 1;
    line-height: 18px;
    color: rgb(62, 62, 62);
}

.button{
    margin-top: 20px;
    margin-bottom: 20px;
}

#free-trial-button{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 8px;
    background-color: rgb(2, 109, 222);
}

.fa-arrow-down{
    font-size: 3rem;
    margin-top: 40px;
    color: black;
}

.jumbo-img{
    width: 60%;
    flex-grow: 2;
}

/* from here, most of the style is refered to the second section of the page */

.container-2{
    max-width: 60%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 70px;
}

.cont-header{
    line-height: 60px;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    height: 30px;
}

.fatturazione{
    margin-right: 30px;
}

.cont-main{
    display : flex;
    justify-content: space-between;
}

.col{
    width: 30%;
}

.col-title{
    border: 1px solid lightgrey;
    text-align: center;
    padding: 5px;

}

.col-main{
    line-height: 18px;
    border: 1px solid lightgrey;
    padding: 25px;
    height: 750px;
}

.detail{
    height: 50px;
    font-weight: lighter;
    color: rgb(62, 62, 62);
}

.price{
    font-weight: bold;
    height: 30px;
    color: black;
}

.buy-now{
    color: blue;
}

.fa-check{
    color: rgb(2, 109, 222);
}

.button2{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 25px;
}

.details{
    margin-top: 40px;
}

.cont-footer{
    margin-top: 40px;
}

.col-main-fo{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.col-main-fo-left{
    padding-top: 25px;
    margin-left: 25px;
    width: 60%;
}

.offer{
    margin-top: 30px;
}

/* from here, most of the style is refered to the third section of the page */
.container-3-1{
    max-width: 60%;
    margin: auto;
    height: 400px;
    margin-bottom: 70px;
}

.find-partner-button{
    text-decoration: none;
    color: rgb(62, 62, 62);
    border: 1px solid grey;
    padding: 8px;
}

.button3{
    margin-top: 70px;
}

.container-3-1{
    display: flex;
}

.img-cont3-1{
    width: 60%;
    background-image: url("img/partner.png");
    background-size: cover;
}

.text-cont3-1{
    width: 40%;
    padding: 50px;
    line-height: 18px;
}

.partner-title{
    margin-bottom: 30px;
    line-height: 25px;
}